Repository hmcts/et-pet-et1, pull requests merged in 2023-09, with the labels that each got.

#1559 (RST-5651) Corrected helm chart and moved Dockerfile.production to Dockerfile
  Dockerfile
  Dockerfile.development
  Dockerfile.test
  Dockerfile.test.dockerignore
  Gemfile
  Gemfile.lock
  charts/et-pet-et1/Chart.yaml
  charts/et-pet-et1/values.yaml
  config/database.yml
  docker-compose-dev.yml
  docker-compose-local-test.yml
  docker-compose-test-ci.yml
  docker-compose-test-dev.yml
  docker-compose-test.yml
  docker-compose.yml
  lib/tasks/test.rake
  spec/support/capybara_driver_helper.rb
Labels: ns:et-pet, rel:et-pet-et1-pr-1559, prd:et-pet

#1560 (RST-5651) Standardising on /health endpoint instead of ping.json
  app/controllers/ping_controller.rb
  app/controllers/status_controller.rb
  app/services/deployment.rb
  app/views/status/healthcheck.json.jbuilder
  charts/et-pet-et1/Chart.yaml
  charts/et-pet-et1/values.yaml
  config/routes.rb
  import-secrets.rb
  input-aat.yaml
  input.yaml
  map.yaml
  renovate.json
  spec/features/dev_ops_spec.rb
  spec/requests/check_json_status_spec.rb
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1560

#1562 (RST-5651) Added migration code and wired in api url
  Jenkinsfile_CNP
  charts/et-pet-et1/Chart.yaml
  charts/et-pet-et1/values.yaml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1562

#1563 Fixed issue with api urls
  charts/et-pet-et1/Chart.yaml
  charts/et-pet-et1/values.yaml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1563

#1565 (RST-5651) Fixed bug in charts for sidekiq
  charts/et-pet-et1/values.aat.template.yaml
  charts/et-pet-et1/values.preview.template.yaml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1565

#1570 (RST-5651) Corrected api url
  charts/et-pet-et1/Chart.yaml
  charts/et-pet-et1/values.yaml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1570

#1571 (RST-5651) Fixed sending host env var
  charts/et-pet-et1/Chart.yaml
  charts/et-pet-et1/values.yaml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1571

#1572 (RST-5891) Secured cookies
  app/controllers/cookies_controller.rb
  config/application.rb
  config/environments/production.rb
  config/initializers/session_store.rb
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1572

#1578 (RST-5895) Configured bundler audit
  .bundler-audit.yml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1578

#1583 (RST-5910) Full system environment fixes
  Dockerfile
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1583

#1584 (RST-5920) Reduced log level to info in fs environment
  .env.full_system.production
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1584
