Repository hmcts/et-pet-et1, pull requests merged in 2023-10, with the labels that each got.

#1585 (RST-5959) Fixed coverage issue
  spec/rails_helper.rb
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1585

#1586 (RST-5962) Added spec for cookies controller
  spec/controllers/cookies_controller_spec.rb
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1586

#1581 RST-5636 amended DX error message
  app/forms/representative_form.rb
  config/locales/cy/et1/active_model.cy.yml
  config/locales/en/et1/active_model.en.yml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1581

#1590 Rst 5628
  .vscode/launch.json
  Gemfile
  Gemfile.lock
  app/forms/additional_claimants_form.rb
  app/forms/additional_claimants_form/additional_claimant.rb
  app/forms/claimant_form.rb
  app/javascript/packs/pages/refunds/FeesPage.js
  app/types/et_date_type.rb
  app/validators/date_validator.rb
  app/views/claims/_personal_details.html.slim
  config/locales/en/refunds/applicant.en.yml
  et1.code-workspace
  sonar-project.properties
  spec/features/claimant_spec.rb
  spec/features/multiple_claimants_spec.rb
  spec/forms/additional_claimants_form/additional_claimant_spec.rb
  spec/forms/claimant_form_spec.rb
  spec/forms/refunds/fees_form_spec.rb
  spec/support/files/alt_file.csv
  spec/support/files/file-l_o_l.biz._v1_.csv
  spec/support/files/file.csv
  spec/support/messaging/en.yml
  spec/support/page_objects/step_three_page.rb
  spec/support/page_objects/step_two_page.rb
  spec/support/refunds_steps/applicant_steps.rb
  spec/types/et_date_spec.rb
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1590

#1591 (RST-5976) Switch to using new app insights
  charts/et-pet-et1/Chart.yaml
  charts/et-pet-et1/values.yaml
Labels: ns:et-pet, prd:et-pet, rel:et-pet-et1-pr-1591
